[
  {
    "name": "Starlink.Com.Sso",
    "value": "redacted",
    "domain": "starlink.com",
    "path": "/",
    "secure": true,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": false,
    "storeId": "0"
  },
  {
    "name": "Starlink.Com.Sso.CheckSession",
    "value": "redacted",
    "domain": "starlink.com",
    "path": "/",
    "secure": true,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": true,
    "storeId": "0"
  },
  {
    "name": "starlink.com.account_number",
    "value": "redacted",
    "domain": "starlink.com",
    "path": "/",
    "secure": false,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": true,
    "storeId": "0"
  },
  {
    "name": "Starlink.Com.Access.V1",
    "value": "redacted",
    "domain": "starlink.com",
    "path": "/",
    "secure": true,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": false,
    "storeId": "0"
  },
  {
    "name": "sx_selected_locale",
    "value": "en-US",
    "domain": "starlink.com",
    "path": "/",
    "secure": false,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": true,
    "storeId": "0"
  },
  {
    "name": "__cflb",
    "value": "redacted",
    "domain": "hcaptcha.starlink.com",
    "path": "/",
    "secure": false,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": false,
    "storeId": "0"
  },
  {
    "name": "hmt_id",
    "value": "redacted",
    "domain": "hcaptcha.starlink.com",
    "path": "/",
    "secure": true,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": true,
    "session": false,
    "storeId": "0"
  },
  {
    "name": "OptanonConsent",
    "value": "redacted",
    "domain": ".starlink.com",
    "path": "/",
    "secure": false,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": false,
    "session": false,
    "storeId": "0"
  },
  {
    "name": "__stripe_mid",
    "value": "redacted",
    "domain": ".starlink.com",
    "path": "/",
    "secure": true,
    "httpOnly": false,
    "sameSite": "unspecified",
    "hostOnly": false,
    "session": false,
    "storeId": "0"
  }
]
